* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fb;
    font-family: sans-serif;
    color: #293264;
}

/* HOME PAGE */
.homePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homePage h1 {
    font-size: 5rem;
    letter-spacing: 5px;
    margin-bottom: 7px;
}

.homePage p {
    font-size: 3rem;
    margin-bottom: 10px;
}

.homePage button {
    color: white;
    background-color: #4d5b9e;
    ;
    font-weight: bold;
    padding: 16px 48px;
    transition: all .3s ease;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.homePage button:hover {
    background-color: #293264;
}



/* QUIZ PAGE*/
.quizPage {
    padding: 20px 50px;
}

.check-answers {
    text-align: center;
    padding: 20px 0;
}

.warning-message {
    color: #ff5858;
    margin-top: 0;
}

.check-btn,
.play-again-btn {
    border-radius: 10px;
    background-color: #4D5B9E;
    padding: 16px 48px;
    ;
    color: #F5F7FB;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.results-text {
    font-weight: 700;
    font-size: 14px;
}

select{
    font-size: 1.5rem;
    background-color: transparent;
    margin: 1em 0.5em;
    border-radius: 10px;
    color: #293264;
    border: 1px solid #293264;
    text-align: center;
    cursor: pointer;
    width: 300px;
    padding: 5px 0;
}

select option{
    text-align: center;
}

/* QUESTION PAGE */
.questionElement {
    padding: 30px 0;
    color: #4d5b9e;
    border-bottom: 1px solid #DBDEF0;
    ;
}

.questionQuestions {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.questionButton {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: .5em 0;
}


.answerButton {
    border-radius: 8px;
    border: 1px solid #4D5B9E;
    background-color: transparent;
    color: #293264;
    font-size: 15px;
    font-weight: 500;
    padding: 4px 14px;
    cursor: pointer;
}

.selected {
    background-color: #D6DBF5;
    border-color: #D6DBF5;
    font-weight: bold;
}

.correct {
    background-color: #94D7A2;
    border-color: #94D7A2;
}

.incorrect {
    background-color: #F8BCBC;
    border-color: #F8BCBC;
}

.dimmed {
    opacity: 0.3;
}
